<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-3">
				<div class="bg-cyan p-10 text-white text-center">
				   <i class="fa fa-user m-b-5 font-16"></i>
				   <h5 class="m-b-0 m-t-5">{{users_count}}</h5>
				   <small class="font-light">Users</small>
				</div>
			</div>
			<div class="col-3">
				<div class="bg-success p-10 text-white text-center">
				   <i class="fa fa-home m-b-5 font-16"></i>
				   <h5 class="m-b-0 m-t-5">{{companies}}</h5>
				   <small class="font-light">Companies</small>
				</div>
			</div>
			<div class="col-3">
				<div class="bg-warning p-10 text-white text-center">
				   <i class="fa fa-folder m-b-5 font-16"></i>
				   <h5 class="m-b-0 m-t-5">{{folders}}</h5>
				   <small class="font-light">Folders</small>
				</div>
			</div>
			<div class="col-3">
				<div class="bg-info p-10 text-white text-center">
				   <i class="fa fa-file m-b-5 font-16"></i>
				   <h5 class="m-b-0 m-t-5">{{files}}</h5>
				   <small class="font-light">Files</small>
				</div>
			</div>
		</div>
	</div>
</div>