<style>

.settings_icon{display:none}

</style>


<div class="row">
    <div class="col-md-12">
        <div class="card">			
            <div class="card-body" style="padding:0.7rem 1.25rem; text-align:right">
                <button onclick="window.history.back();" class="btn btn-default">
					<i class="mdi mdi-24px mdi-arrow-left-bold"></i>					
					<span style="display: inline;position: relative;top: -5px;"> Back</span>
				</button>
				<button class="btn" style="background-color:#ff0c00; color:#FFF" onclick="show_errors()" id="show_errors">
                    <i class="mdi mdi-24px mdi-alert-octagon"></i>					
                    <span style="display: inline;position: relative;top: -5px;">Show Errors</span>
                </button>
                <button class="btn" style="background-color: #0ead5c; color:#FFF; margin-right:1px;" onclick="hide_errors()" id="hide_errors">
                    <i class="mdi mdi-24px mdi-check-all"></i>					
                    <span style="display: inline;position: relative;top: -5px;">Hide Errors</span>
                </button>
                <button class="btn btn-default hide" onclick="show_data()" id="show_data">
                    <i class="mdi mdi-24px mdi-table-large"></i>					
                    <span style="display: inline;position: relative;top: -5px;">Show Data</span>
                </button>
                <a class="btn btn-primary" href="{% url 'delete_file' file_ins %}">
                    <i class="mdi mdi-24px mdi-delete"></i>					
                    <span style="display: inline;position: relative;top: -5px;">Delete File</span>
                </a>
                <button class="btn btn-warning" data-toggle="modal" data-target="#rename_file_modal">
                    <i class="mdi mdi-24px mdi-file-excel"></i>					
                    <span style="display: inline;position: relative;top: -5px;">Rename File</span>
                </button>
				<button class="btn btn-warning" data-toggle="modal" data-target="#rename_file_modal">
                    <i class="mdi mdi-24px mdi-file-excel"></i>					
                    <span style="display: inline;position: relative;top: -5px;">Replace File</span>
                </button>
            </div>
            <div class="row">

                {% if errors %}
                    <div class="col-12" style="padding:10px;">
                        <div class="alert alert-danger" role="alert">
                            {{errors}}
                        </div>
                    </div>
                {% endif %}
                <div class="col-12">
                    {{data_html|safe}}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'app/file_management/rename_file_modal.html' %}

<script>
    var wrong_list = {{wrong_rows_list}};
</script>